@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Stack+Sans+Notch:wght@200..700&display=swap');

@font-face {
  font-family: "Project Blackbird";
  src: url("./assets/fonts/projekt-blackbird.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Project Blackbird", sans-serif;
}

section {
  width: 100%;
  background: #121212;
  padding-inline: 120px;

  &.listing {
    color: #fff;
    min-height: 100lvh;
  }

  &.spacing {
    height: 55lvh;
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-block: 12px;

  li {
    display: flex;
    align-items: center;
    gap: 24px;
    pointer-events: none;
    user-select: none;
    /* background-color: rgb(134, 168, 134); */

    img {
      width: 63px;
      aspect-ratio: 1/1;
      border-radius: 6px;
      transform-origin: left center;
    }

    p {
      font-size: 48px;
      line-height: 1;
      opacity: 0.4;
      transform: translateX(-87px);
    }
  }
}
